<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Raspberry Pi Sandbox</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="pinout-board theme-light">
      <div class="pin" data-pin-type="3v-power" data-pin-status="">
        <div class="pin__label">
          <span class="pin__label-item pin__label-item--title"> 3.3v </span>
          <span class="pin__label-item pin__label-item--outline"> DC Power </span>
          <span class="pin__label-item"> 1 </span>
        </div>
        <div class="pin__marker"> </div>
        <ul class="pin__menu">
          <li class="pin__menu-item"> Set as input </li>
          <li class="pin__menu-item"> Set as output </li>
        </ul>
      </div>

      <div class="pin" data-pin-type="5v-power" data-pin-status="">
        <div class="pin__label">
          <span class="pin__label-item pin__label-item--title"> 5v </span>
          <span class="pin__label-item pin__label-item--outline"> DC Power </span>
          <span class="pin__label-item"> 2 </span>
        </div>
        <div class="pin__marker"> </div>
        <ul class="pin__menu">
          <li class="pin__menu-item"> Set as input </li>
          <li class="pin__menu-item"> Set as output </li>
        </ul>
      </div>

      <div class="pin" data-pin-type="i2c" data-pin-status="">
        <div class="pin__label">
          <span class="pin__label-item pin__label-item--title"> GPIO02 </span>
          <span class="pin__label-item pin__label-item--outline"> SDA1 </span>
          <span class="pin__label-item pin__label-item--outline"> I<sup>2</sup>C </span>
          <span class="pin__label-item"> 3 </span>
        </div>
        <div class="pin__marker"> </div>
        <ul class="pin__menu">
          <li class="pin__menu-item"> Set as input </li>
          <li class="pin__menu-item"> Set as output </li>
        </ul>
      </div>

      <div class="pin" data-pin-type="5v-power" data-pin-status="">
        <div class="pin__label">
          <span class="pin__label-item pin__label-item--title"> 5v </span>
          <span class="pin__label-item pin__label-item--outline"> DC Power </span>
          <span class="pin__label-item"> 4 </span>
        </div>
        <div class="pin__marker"> </div>
        <ul class="pin__menu">
          <li class="pin__menu-item"> Set as input </li>
          <li class="pin__menu-item"> Set as output </li>
        </ul>
      </div>
    </div>



    <%= render @view_module, @view_template, assigns %>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
