<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Raspberry Pi Sandbox</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="pinout-board">
      <div class="pin" data-pin-type="3v-power" data-pin-status="">
        <div class="pin__label"> 3.3v </div>
        <div class="pin__marker"> </div>
        <ul class="pin__menu">
          <li class="pin__menu-item"> Set as input </li>
          <li class="pin__menu-item"> Set as output </li>
        </ul>
      </div>
    </div>

    <%= render @view_module, @view_template, assigns %>
      <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
