@font-face {
  font-family: 'Cooper Hewitt';
  src: url('../assets/fonts/CooperHewitt-Medium-webfont.eot');
  src: url('../assets/fonts/CooperHewitt-Medium-webfont.eot?#iefix') format("embedded-opentype"), url('../assets/fonts/CooperHewitt-Medium-webfont.woff2') format("woff2"), url('../assets/fonts/CooperHewitt-Medium-webfont.woff') format("woff"), url('../assets/fonts/CooperHewitt-Medium-webfont.ttf') format("truetype"), url('../assets/fonts/CooperHewitt-Medium-webfont.svg#cooper_hewittmedium') format("svg");
  font-weight: 400;
  font-style: normal;
}
