// ------------------------------- \\
//             PADDING             \\
// ------------------------------- \\
$padding-basis: 4px;
$light-padding: $padding-basis;
$padding: $padding-basis * 2;

// ------------------------------- \\
//            DECORATION           \\
// ------------------------------- \\
$border-radius: 2px;
